body {
    background-color: lightblue;
    margin: 0 auto;
    width: 1200px;
    padding-left: 10px;
}

header {
    margin-bottom: 50px;
}
.content-wrap {
  max-width: 500px;
  width: 85%;
  margin: 0 auto;
  padding: 0px 0;
  }

main {
    background-color: azure;
    height: 850px;
    font-family: 'Montserrat', sans-serif;
    border-top: 20px;

}
h1 {
    font-family: 'Neucha', cursive;
    font-size: 75px;
    color: #08447c;
    margin: 10px;
    font-weight: 900;
    margin-top: 20px;
    padding-top: 20 px;
    border-top: 20px;
    text-align: center;
    line-height: 140px;
    
}
h2 {
    font-family: 'Neucha', cursive;
    color: rgb(77, 124, 139);
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 20px;
    
}
h3 {
  font-family: 'Neucha', cursive;
  color: azure;
  font-size: 35px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;

}
p {
    font-size: 14px;
    margin-left: 10px;
}
ul {
    font-size: 14px;
    margin: 10px;
    list-style-type: disc;
}
.item-details {
  font-size: 14px;
  line-height: 20px;
  margin: 10px;
}
.spacing {
  line-height: 20px;
}
.topten {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-size: 14px;
  line-height: 20px;
    margin: 30px;
  
}
ol {
  list-style-type: decimal;
  list-style-position: outside;
}
span {
  position: relative;
  left: 10px;
}
 
footer {
    background-color: rgb(77, 124, 139);
    height: 300px;
}

/* button {
    background-color: #f2f33c;
    font-size: 20px;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #808080;
  }
  button:hover {
    background-color: #7cf232;
    color: #333333;
  }
  .hidden {
    display: none;
  }
  .showing {
    display: block;
    font-family: Arial, sans serif;
    background-color: #0984e3;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #000000;
    
  }
  
  .hidden2 {
    display: none;
  }
  .showing2 {
    display: block;
    font-family: Arial, sans serif;
    background-color: #00cec9;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #000000;
    
  } */